<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "co.il.bikeme.www"
        version   = "1.5.0">
    <name>BikeMe!</name>

    <description>
        Helps you find the best route when using TLV telOfan shared bikes project
    </description>

    <author href="http://bikeme.co.il/" email="bikemeisrael@gmail.com">
        Awesome Klarna BikeMe! Team
    </author>

    <gap:platform name="android" />

    <preference name="phonegap-version" value="3.6.3" />
    <preference name="android-minSdkVersion" value="8" />
    <preference name="android-targetSdkVersion" value="19" />
    <preference name="orientation"      value="portrait" />
    <preference name="target-device"    value="handset" />
    <preference name="fullscreen"       value="false" />
    <preference name="splash-screen-duration" value="10000" />

    <icon src="icon.png"/>
    <icon src="res/icon/android/mdpi.png"   gap:platform="android"    gap:qualifier="ldpi" />
    <icon src="res/icon/android/mdpi.png"   gap:platform="android"    gap:qualifier="mdpi" />
    <icon src="res/icon/android/hdpi.png"   gap:platform="android"    gap:qualifier="hdpi" />
    <icon src="res/icon/android/xhdpi.png"  gap:platform="android"    gap:qualifier="xhdpi" />

    <gap:splash src="splash.png" />
    <gap:splash src="res/screen/android/splash_screen200x320.png"  gap:platform="android" gap:qualifier="ldpi" />
    <gap:splash src="res/screen/android/splash_screen320x480.png"  gap:platform="android" gap:qualifier="mdpi" />
    <gap:splash src="res/screen/android/splash_screen480x800.png"  gap:platform="android" gap:qualifier="hdpi" />
    <gap:splash src="res/screen/android/splash_screen720x1280.png" gap:platform="android" gap:qualifier="xhdpi" />

    <access origin="https://*.google.com"/>
    <access origin="https://*.googleapis.com"/>
    <access origin="https://*.gstatic.com"/>
    <access origin="https://google-maps-utility-library-v3.googlecode.com"/>
    <access origin="http://54.77.12.242:8088"/>

    <preference name="permissions" value="none"/>

    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.7" />
</widget>
