<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "co.il.bikeme.www"
        version   = "1.6.1">
    <name>BikeMe!</name>

    <description>
        Helps you find the best route when using TLV telOfan shared bikes project
    </description>

    <author href="http://bikeme.co.il/" email="bikemeisrael@gmail.com">
        Awesome Klarna BikeMe! Team
    </author>

    <gap:platform name="android">
        <icon src="res/icon/android/ldpi.png"   gap:platform="android"    gap:qualifier="ldpi" />
        <icon src="res/icon/android/mdpi.png"   gap:platform="android"    gap:qualifier="mdpi" />
        <icon src="res/icon/android/hdpi.png"   gap:platform="android"    gap:qualifier="hdpi" />
        <icon src="res/icon/android/xhdpi.png"  gap:platform="android"    gap:qualifier="xhdpi" />

        <gap:splash src="res/screen/android/splash_screen200x320.png"  gap:platform="android" gap:qualifier="ldpi" />
        <gap:splash src="res/screen/android/splash_screen320x480.png"  gap:platform="android" gap:qualifier="mdpi" />
        <gap:splash src="res/screen/android/splash_screen480x800.png"  gap:platform="android" gap:qualifier="hdpi" />
        <gap:splash src="res/screen/android/splash_screen720x1280.png" gap:platform="android" gap:qualifier="xhdpi" />
    </gap:platform>

    <preference name="phonegap-version" value="cli-6.0.0" />
    <preference name="android-minSdkVersion" value="8" />
    <preference name="android-targetSdkVersion" value="19" />
    <preference name="orientation"      value="portrait" />
    <preference name="target-device"    value="handset" />
    <preference name="fullscreen"       value="false" />

    <!-- cordova-plugin-splashscreen preferences -->
    <preference name="SplashScreen" value="splash.png" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="FadeSplashScreenDuration" value="800"/>
    <preference name="ShowSplashScreenSpinner" value="false"/>

    <icon src="icon.png"/>

    <gap:splash src="splash.png" />

    <access origin="https://*.google.com"/>
    <access origin="https://*.googleapis.com"/>
    <access origin="https://*.gstatic.com"/>
    <access origin="https://google-maps-utility-library-v3.googlecode.com"/>
    <access origin="http://54.77.12.242:8088"/>

    <preference name="permissions" value="none"/>

    <gap:plugin name="cordova-plugin-geolocation" spec="1.0.1" source="pgb" />
    <gap:plugin name="cordova-plugin-whitelist" spec="1.1.0" source="npm" />
    <gap:plugin name="cordova-plugin-splashscreen" spec="3.2.0" source="npm" />

</widget>
