html {
    height: 100%;
}

body {
    height  : 100%;
    margin  : 0;
    padding : 0;
}

#search {
  z-index: 1;
}

#search-page {
  background: #DBDBDD url(../images/search_image_small_full_screen.png) center bottom repeat-x;
}

#search-box {
    margin-top: 15%;
    position: static;
}

#search-buttons {
  text-align: center;
}

#search-buttons div.ui-btn{
  border: 1px solid black;
}

.ui-field-contain {
    text-align: center;
}

/* overriding jquery-mobile background color*/
.ui-body-c, .ui-overlay-c {
    background: #dbdbdd;
}

.ui-page {
  z-index: 2;
}

#location-button {
    /*position: absolute;*/
    position: relative;

}

.header {
  z-index: 10;
  position: absolute;
  top: 0;
  background: url(../images/search_navigate_bg.png);
  width: 100%;
  text-align:center;
  border-bottom: 1px solid #B0AFAB;
  height: 47px;
}

.header h1 {
  margin: 5px 0 5px 0;
  position: absolute;
  width: 100%;
}

.headerButton {
    float:left;
    margin: 8px 0 0 2px;
}

.hide {
    visibility: hidden;
}

/* spinner icon */
.ui-icon-loading {
/*    background: url(images/ajax-loader.gif);
    background-size: 46px 46px;*/
}

.ui-loading .ui-loader{
/*  color: #C2E;
  background: #C5E2D4;*/

}
.current-location_text-input {
  color: #4674A2;
  font-weight: bold;
}

/* Remove the search icon in the '#from' '#to' search inputmfields*/
.ui-icon-searchfield:after {
    display: none !important;
}
/* Style the '#from', '#to' input fields to look like normal text input instead of search input */
.ui-icon-searchfield {
  padding: 0;
  background: #ffffff;
  -webkit-border-radius: .6em;
  border-radius: .6em;
}