html {
    height: 100%;
}

body {
    height  : 100%;
    margin  : 0;
    padding : 0;
}

#from, #to {
    background: #ffffff;
}

#search-box {
    margin-top: 10%;
}

.ui-field-contain{
    text-align: center;
}

/* overriding jquery-mobile background color*/
.ui-body-c, .ui-overlay-c {
    background: #e2e2e3;
}

#location-button {
    /*position: absolute;*/
    position: relative;

}

.header {
    text-align:center;
    background: url(../images/search_navigate_bg.png);
    border-color: #B0AFAB;
}

#search-image {
  text-align: center;
  bottom: 0;
  background: #e2e2e3;
  border: none;
}

#backButton {
    position: absolute;
    top: 13%;
}

.hide {
    visibility: hidden;
}

.current-location_text-input {
  color: #4674A2;
  font-weight: bold;
}